odoo-addon-partner_tz @ git+https://github.com/OCA/partner-contact.git@refs/pull/2252/head#subdirectory=partner_tz
odoo-addon-base_time_window @ git+https://github.com/OCA/server-tools.git@refs/pull/3490/head#subdirectory=base_time_window
